<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <!-- Replace the text with an image -->
        <h1 class="mb-4"><img src="../static/css/logo.png" alt="Movie Recommendation System Logo" width="600px"></h1>
            <!-- Card for movie recommendation options -->
    <div class="card">
        <div class="card-body">
            <p class="card-text">Choose how you want to get movie recommendations:</p>
            <ul class="list-group d-flex flex-row justify-content-center">
            <li class="list-group-item"><a href="http://127.0.0.1:5000/title">Movie Title</a></li>
            <li class="list-group-item"><a href="http://127.0.0.1:5000/random">Random</a></li>
            <li class="list-group-item"><a href="http://127.0.0.1:5000/recommendation_engine">Recommendation Engine</a></li>
        </ul>
    </div>

    <!-- Bootstrap JS and Popper.js scripts (required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
